{% load i18n %}
<footer class="footer">
    <div class="container-fluid">
    {% block footer %}
    <ul class="footer-links"> 
            <li><h3>ABOUT</h3>
                <p><div>
                    <a href="">{% trans "  About Us " %}</a>
                    <a href="">{% trans "  Team " %}</a><table>  </table>
                    <a href="">{% trans "  We are hiring! " %}</a>
                    <a href="">{% trans "  Testimonial " %}</a><table>  </table>
                    <a href="">{% trans "  Blog " %}</a>
                    <a href="">{% trans "  Travelouges " %}</a><table>  </table>
                    <a href="">{% trans "  Terms and Conditions " %}</a>
                    <a href="">{% trans "  Privacy Policy " %}</a><table>  </table>
                    <a href="">{% trans "  Cancellation " %}</a>
                    <a href="">{% trans "  Travel Agent? Join Us " %}</a><table>  </table>
                    <a href="">{% trans "  FAQ " %}</a>
                </div></p>
            </li>
            <li align='right'>
                <h3>{% trans "Contact us" %}</h3>
                <p>
                    {% trans "741 Urban Estate," %} <br/> {% trans "Patiala Punjab 147001" %} <br/> 
                    <strong><i class="icon-mobile"></i>{% trans "91-91119 91118" %}</strong>
                </p>
                <p class="social-icons">
                    <a href="https://facebook.com/escahub"><i class="icon-facebook"></i></a>
                </p>
            </li>
        </ul>
    {% endblock %}
    </div>
    <div class="footer-disclaimer">
        <div class="container-fluid">
            <a href="#" class="pull-right">{% trans "A Site by Esca Group" %}</a>
            <p class="hidden-phone">
                <a href="https://www.verisign.com.au" title="https://www.verisign.com.au" target="_blank"><i class="verisign"></i></a>
                <i class="credit-cards"></i>
            </p>
        </div>
    </div>
</footer>
