{% load i18n %}
<footer class="footer">
    <div class="footer-disclaimer">
        <div class="container-fluid">
            <a href="#" class="pull-left"><strong>{% trans "EscaHub" %}</strong></a>
            <p class="social-icons">
                    <a href="https://facebook.com/escahub" class="pull-right"><i class="icon-facebook"></i></a>
                    <a href="https://facebook.com/escahub" class="pull-right"><i class="icon"></i></a>
                </p>
        </div>
    </div>
    <div class="container-fluid">

    {% block footer %}
    <ul class="footer-links"> 
            <li><h3>ABOUT</h3>
                <p>
                    <a href="">{% trans "  Policy " %}</a>
                    <a href="">{% trans "  About Us " %}</a>
                    <a href="">{% trans "  Team " %}</a>
                    <a href="">{% trans "  We are hiring! " %}</a>
                    <a href="">{% trans "  Testimonial " %}</a>
                    <a href="">{% trans "  Blog " %}</a>
                </p>
            </li>
            <li><h3>QUICK LINKS</h3>
                <p>
                    <a href="">{% trans "  Privacy Policy " %}</a>
                    <a href="">{% trans "  Cancellation " %}</a>
                    <a href="">{% trans "  My account " %}</a>
                    <a href="">{% trans "  EscaHub " %}</a>
                    <a href="">{% trans "  EscaBus " %}</a>
                    <a href="">{% trans "  EscaGear " %}</a>
                    <a href="">{% trans "  FAQ " %}</a>
                </p>
            </li>
            <li>
                <h3>{% trans "Contact us" %}</h3>
                <p>
                    <strong><i class="icon-email"></i>{% trans "customercare@escahub.com" %}</strong>
                    <strong><i class="icon-mobile"></i>{% trans "91-91119 91118" %}</strong></br>
                    {% trans "741 Urban Estate," %} <br/> {% trans "Patiala Punjab 147001" %} <br/>  
                </p>
            </li>
        </ul>
    {% endblock %}
    </div>
    <div class="footer-disclaimer">
        <div class="container-fluid">
            <a href="#" class="pull-right">{% trans "A Site by Esca Group" %}</a>
            <p class="hidden-phone">
                <a href="https://www.verisign.com.au" title="https://www.verisign.com.au" target="_blank" class="pull-left"><i class="verisign"></i><i class="credit-cards"></i></a>
            </p>
            <p class="hidden-phone">
                <a href="https://www.verisign.com.au" title="https://www.verisign.com.au" target="_blank" class="centre">{% trans "Terms &amp; Privacy Policy" %}</a>
                <a href="https://www.verisign.com.au" title="https://www.verisign.com.au" target="_blank" class="centre">{% trans "&copy; copyrights Reserved" %}</a>
            </p>
        </div>
    </div>
</footer>
